<section class="relative w-full h-screen">
  <div class="grid grid-cols-12 h-full">
    <!-- Background image section -->
    <div class="relative col-span-6 h-full" style="background-image: url('https://images.pexels.com/photos/2640604/pexels-photo-2640604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center;">
      <div class="absolute w-full bottom-0 left-0 p-20 bg-gradient-to-t from-black/80">
        <h1 class="text-6xl font-bold text-white font-poppins">Welcome back to<br><span class="text-green-500">DreamLuso</span></h1>
        <p class="mt-4 text-xl leading-relaxed text-neutral-300">
          Log in to access all the properties and features.
        </p>
      </div>
    </div>

    <!-- Form section -->
    <div aria-label="Main" class="col-span-6 grid items-center justify-center p-8">
      <div class="max-w-xl lg:max-w-3xl">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="mt-8 grid grid-cols-6 gap-6 px-20 rounded-3xl p-10 bg-neutral-50">
          <div *ngIf="errorMessage" class="col-span-6 text-neutral-600">{{ errorMessage }}</div>
          <h2 class="col-span-6 text-3xl font-bold text-neutral-900 font-poppins">Login</h2>

          <!-- Email field -->
          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium text-neutral-600">Email</label>
            <input
              type="email"
              formControlName="email"
              class="mt-1 w-full rounded-full text-sm bg-neutral-200 text-neutral-600 p-3 border-2 border-neutral-300 focus:ring focus:ring-green-500 transition duration-200"
            />
            <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-neutral-600 text-sm">Please enter a valid email</span>
          </div>

          <!-- Password field -->
          <div class="col-span-6">
            <label for="Password" class="block text-sm font-medium text-neutral-600">Password</label>
            <input
              type="password"
              formControlName="password"
              class="mt-1 w-full rounded-full text-sm bg-neutral-200 text-neutral-600 p-3 border-2 border-neutral-300 focus:ring focus:ring-green-500 transition duration-200"
            />
            <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-neutral-600 text-sm">Password is required</span>
          </div>

          <!-- Remember me and Forgot password -->
          <div class="col-span-6 flex justify-between items-center">
            <label for="RememberMe" class="flex items-center gap-2">
              <input
                type="checkbox"
                id="RememberMe"
                formControlName="rememberMe"
                class="h-4 w-4 rounded-full border-neutral-300 bg-neutral-200"
              />
              <span class="text-sm text-neutral-600">Remember me</span>
            </label>
            <a href="#" class="text-sm text-neutral-600 hover:text-green-500 hover:underline">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button
              type="submit"
              class="inline-block shrink-0 rounded-full bg-green-500 px-12 py-3 text-lg font-bold text-white transition hover:bg-green-600 hover:shadow-lg focus:outline-none focus:ring"
              [disabled]="loginForm.invalid || loginStatus"
            >
              <span *ngIf="!loginStatus">Sign in</span>
              <span *ngIf="loginStatus" class="animate-pulse">Logging in...</span>
            </button>

            <p class="mt-4 text-sm text-neutral-600 sm:mt-0">
              Don't have an account?
              <a routerLink="/register" class="text-green-500 underline hover:text-green-600">Sign up</a>.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Home button -->
  <a href="/" class="fixed bottom-8 right-8 bg-green-500 hover:bg-green-600 text-white rounded-full p-4 shadow-lg transition duration-300 ease-in-out">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
  </a>
</section>
